<section>
<div class='one_user'>
    <div class='profile'>
      <img src='<%= @user.photo %>' alt='<%= @user.name %> thumbnail' />
    </div>
    <div class='user_info'>
      <h3 class='user_name'><%= @user.name %></h3>
      <p class='num_posts'>Number of Posts: <%= @user.posts_counter %></p>
    </div>
    </div>
    <div class='user_bio'>
      <h4>Bio</h4>
      <h5><%= @user.bio %></h5>
    </div>
    <div class='user_posts'>
      <% @user.recent_posts.each do |post| %>
      <div class='posts_list'>
        <h3> Post # <%= post.id%> </h3>
        <h4><%= post.title %></h4>
        <p><%= post.text %></p>
        <span class='like_comment'>
          Comments: <%= post.comments_counter %>,
          Likes: <%= post.likes_counter %>
        </span>
      </div>
      <% end %>
    </div>
   <button class='list_btn'>
      <%= link_to 'See all posts', user_posts_path(@user) %>
    </button>
</section>