<section>
  <div class= "one_user">
    <div class="profile">
      <img src='<%= @user.photo %>' alt='<%= @user.name %> thumbnail' />
    </div>
    <div class="user_info">
      <h1 class="user-head"><%= @user.name %></h1>
      <p class="user-para">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <% @posts.each do |post| %>
    <%= render post %>
   
  <%end%>
  <%= link_to 'Create New Post', new_user_post_path, class:"btn btn-secondary" %>
  <button class="list_btn">pagination</button>
</section>